<?xml version="1.0" encoding="UTF-8" ?>
<!--
Spring Boot Adm in 支持对日志的管理，也支持 Logback。Spring Boot 中，
默认的日志为 Logback ，所以在工程的 pom 文件中不需要引入 Logback 的依赖，但需要配
置 Logback 的 JMXConfigurator。在 Resources 目录下建一个 logback-spring.xml 文件，代码
如下 ：
-->
<configuration>
    <include resource="org/springframework/boot/logging/logback/base.xml" />
    <jmxConfigurator/>
</configuration>

